[package]
authors = ["Azure IoT Edge Devs"]
edition = "2021"
name = "support-bundle"
version = "0.1.0"

[dependencies]
anyhow = "1"
chrono = "0.4"
futures = "0.3"
hyper = { version = "0.14", features = ["stream"] }
thiserror = "1"
tokio = { version = "1", features = ["process", "time"] }
zip = "0.5"

edgelet-core = { path = "../edgelet-core" }
edgelet-settings = {path = "../edgelet-settings" }

[dev-dependencies]
regex = "1"
tempfile = "3.2"
