[package]
authors = ["Azure IoT Edge Devs"]
edition = "2021"
name = "support-bundle"
version = "0.1.0"

[dependencies]
anyhow = "1"
chrono = "0.4"
futures = "0.3"
hyper = { version = "0.14", features = ["stream"] }
thiserror = "1"
tokio = { version = "1", features = ["process", "time"] }
zip = { version = "0.6", features = ["deflate"], default-features = false }

edgelet-core = { path = "../edgelet-core" }
edgelet-settings = {path = "../edgelet-settings" }
