[Unit]
Description=Azure IoT Edge Secret Store command socket
PartOf=azsecret.service

[Socket]
ListenStream=/var/run/azsecret.sock
SocketMode=0666
DirectoryMode=0755
SocketUser=secretstore
SocketGroup=iotedge
Service=secretstore.service

[Install]
WantedBy=sockets.target