<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <Exclude>
            [es6numberserializer]*,
            [jsoncanonicalizer]*,
            [Microsoft.Azure.Devices.Edge.Agent.Core.Test]*,
            [Microsoft.Azure.Devices.Edge.Hub.Core.Test]*,
            [Microsoft.Azure.Devices.Edge.Storage.Test]*,
            [Microsoft.Azure.Devices.Edge.Test.Common]*,
            [Microsoft.Azure.Devices.Edge.Util.Test.?*]*
            [TestResultCoordinator]*
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>