<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <Include>
            [Microsoft.Azure.Devices.Edge.*]*,
            [Microsoft.Azure.Devices.Routing.Core]*,
            [Microsoft.Azure.WebJobs.Extensions.EdgeHub]*,
          </Include>
          <Exclude>
            [Microsoft.Azure.Devices.Edge.*Test]*,
            [Microsoft.Azure.Devices.Edge.*Test.Common]*,
            [Microsoft.Azure.Devices.Edge.ModuleUtil]*,
            [Microsoft.Azure.Devices.Routing.Core]Microsoft.Azure.Devices.Routing.Core.grammar*,
            [Microsoft.Azure.Devices.Routing.Core]Microsoft.Azure.Devices.Routing.Core.query.jsonpath*,
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>