agent:
  name: "edgeAgent"
  type: "docker"
  env: {}
  config:
    image: "mcr.microsoft.com/azureiotedge-agent:1.0"
    auth: {}

hostname: "localhost"

connect:
  management_uri: "unix:///var/lib/iotedge/mgmt.sock"
  workload_uri: "unix:///var/lib/iotedge/workload.sock"

listen:
  management_uri: "unix:///var/lib/iotedge/mgmt.sock"
  workload_uri: "unix:///var/lib/iotedge/workload.sock"

homedir: "/var/lib/aziot/edged"

moby_runtime:
  uri: "unix:///var/run/docker.sock"
  network: "azure-iot-edge"

endpoints:
  aziot_keyd_url: "unix:///run/aziot/keyd.sock"
  aziot_certd_url: "unix:///run/aziot/certd.sock"
  aziot_identityd_url: "unix:///run/aziot/identityd.sock"
