Source: iotedge
Section: admin
Priority: extra
Maintainer: Azure IoT Edge Devs
Build-Depends: debhelper (>=9),
               dh-systemd
Standards-Version: 3.9.6
Homepage: https://github.com/azure/iot-edge

Package: iotedge
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser, ca-certificates, hostname, libiothsm-std (>> 1.0.4), sed
Description: Azure IoT Edge Security Daemon
 Azure IoT Edge is a fully managed service that delivers cloud intelligence
 locally by deploying and running artificial intelligence (AI), Azure services,
 and custom logic directly on cross-platform IoT devices. Run your IoT solution
 securely and at scale—whether in the cloud or offline.
 .
 This package contains the IoT Edge daemon and CLI tool.
