#!/usr/bin/make -f

# See debhelper(7)

# output every command that modifies files on the build system.
export DH_VERBOSE = 1
export DH_OPTIONS = -v


%:
	dh $@

.PHONY: override_dh_installsystemd override_dh_shlibdeps


# Default behavior of dh_installsystemd is to enable and start all installed units, ie both sockets and services.
# But we don't want to start the service, since it will need to be configured first.
override_dh_installsystemd:
	dh_installsystemd aziot-edged.mgmt.socket aziot-edged.workload.socket
	dh_installsystemd --no-start aziot-edged.service

override_dh_shlibdeps:
ifeq ($(CARGO), cross)
	dh_shlibdeps -l /usr/arm-linux-gnueabihf/lib/:$(CURDIR) -- --ignore-missing-info
else
ifdef SYSROOT
	dh_shlibdeps -l $(CURDIR):$(SYSROOT)/lib/:$(SYSROOT)/usr/lib -- --ignore-missing-info
endif
endif
