[package]
name = "mqtt-bridge"
version = "0.1.0"
authors = ["Azure IoT Edge Devs"]
edition = "2018"

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
bincode = "1.2"
bson = "1.1"
bytes = "0.5"
config = { version = "0.10", features = ["json"], default-features = false }
chrono = "0.4"
futures-util = "0.3"
humantime = "2.0"
humantime-serde = "1.0"
lazy_static = "1.4"
memmap = "0.7"
mockall = "0.8"
openssl = "0.10"
parking_lot = "0.11"
percent-encoding = "1.0"
regex = "1"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_bytes = "0.11"
serde_derive = "1.0"
serde_json = "1.0"
serial_test = "0.4"
thiserror = "1.0"
tokio = { version = "0.2", features = ["sync", "rt-util"] }
tokio-tls = "0.3"
tokio-openssl = "0.4"
tracing = "0.1"
tracing-futures = "0.2"
url = "2.1"

edgelet-client = { path = "../edgelet-client" }
mqtt3 = { path = "../mqtt3", features = ["serde1"] }
mqtt-broker = { path = "../mqtt-broker" }

[dev-dependencies]
matches = "0.1"
rand = "0.8"
serial_test = "0.4"
tempfile = "3"
test-case = "1.0"
tokio = { version = "0.2", features = ["macros"] }

mqtt-broker-tests-util = { path = "../mqtt-broker-tests-util" }