[package]
name = "edgelet-http"
version = "0.1.0"
authors = ["Azure IoT Edge Devs"]
publish = false

[dependencies]
bytes = "0.4"
chrono = "0.4"
failure = "0.1"
failure_derive = "0.1"
futures = "0.1"
http = "0.1"
hyper = "0.12"
hyper-proxy = "0.5"
hyper-tls = "0.3"
hyperlocal = { git = "https://github.com/damonbarry/hyperlocal", branch = "windows" }
log = "0.4"
percent-encoding = "1.0"
regex = "0.2"
serde = "1.0"
serde_json = "1.0"
tokio = "0.1.11"
typed-headers = "0.1"
url = "1.7"

edgelet-core = { path = "../edgelet-core" }
edgelet-utils = { path = "../edgelet-utils" }
systemd = { path = "../systemd" }

[target.'cfg(unix)'.dependencies]
libc = "0.2"
nix = "0.11"
scopeguard = "0.3.3"
tokio-uds = "0.2"

[target.'cfg(windows)'.dependencies]
hyper-named-pipe = { path = "../hyper-named-pipe" }
mio-uds-windows = { git = "https://github.com/damonbarry/mio-uds-windows.git" }
tokio-named-pipe = { path = "../tokio-named-pipe" }
tokio-uds-windows = { git = "https://github.com/damonbarry/tokio-uds-windows.git" }
winapi = { version = "0.3.5", features = ["winsock2"] }

[dev-dependencies]
lazy_static = "1.0"
tempfile = "3"
tempdir = "0.3.7"

edgelet-test-utils = { path = "../edgelet-test-utils" }

[target.'cfg(windows)'.dev-dependencies]
httparse = "1.2"
rand = "0.4"
