[package]
name = "edgelet-http"
version = "0.1.0"
authors = ["Azure IoT Edge Devs <edgedevs@microsoft.com>"]
publish = false

[dependencies]
bytes = "0.4"
chrono = "0.4"
failure = "0.1"
failure_derive = "0.1"
futures = "0.1"
http = "0.1"
hyper = { version = "0.11", features = ["compat"] }
log = "0.4"
percent-encoding = "1.0"
regex = "0.2"
serde = "1.0"
serde_json = "1.0"
tokio-core = "0.1"
tokio-io = "0.1"
url = "1.7"

edgelet-core = { path = "../edgelet-core" }
edgelet-utils = { path = "../edgelet-utils" }
systemd = { path = "../systemd" }

[target.'cfg(unix)'.dependencies]
hyperlocal = "0.4"
libc = "0.2"
tokio-uds = "0.1"

[target.'cfg(windows)'.dependencies]
hyper-named-pipe = { path = "../hyper-named-pipe" }
tokio-named-pipe = { path = "../tokio-named-pipe" }

[dev-dependencies]
httparse = "1.2"
lazy_static = "1.0"
nix = "0.10"
rand = "0.4"
scopeguard = "0.3.3"
tokio-core = "0.1"
tempfile = "2"

edgelet-test-utils = { path = "../edgelet-test-utils" }
