[package]
name = "iotedge"
version = "0.1.0"
authors = ["Azure IoT Edge Devs"]
description = """
The iotedge tool is used to manage the IoT Edge runtime.
"""
edition = "2018"

[dependencies]
atty = "0.2"
bytes = "0.4"
chrono = { version = "0.4.7", features = ["serde"] }
chrono-humanize = "0.0.11"
clap = "2.31"
failure = "0.1"
futures = "0.1"
hyper = "0.12"
lazy_static = "1"
native-tls = "0.2"
openssl = "0.10"
parse_duration = "2.0.1"
regex = "0.2"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
tabwriter = "1.0"
termcolor = "0.3"
tokio = "0.1"
url = "1.7"
zip = "0.5.3"

docker = { path = "../docker-rs" }
edgelet-core = { path = "../edgelet-core" }
edgelet-docker = { path = "../edgelet-docker" }
edgelet-http = { path = "../edgelet-http" }
edgelet-http-mgmt = { path = "../edgelet-http-mgmt" }
management = { path = "../management" }
mini-sntp = { path = "../mini-sntp" }

[target.'cfg(unix)'.dependencies]
libc = "0.2"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = ["ntdef", "ntstatus", "winnt", "winsock2"] }

[dev-dependencies]
edgelet-test-utils = { path = "../edgelet-test-utils" }
tempfile = "3.1.0"
