[workspace]
members = [
    "docker-rs",
    "cert-client",
    "edgelet-core",
    "edgelet-docker",
    "edgelet-http",
    "edgelet-http-mgmt",
    "edgelet-http-workload",
    "edgelet-test-utils",
    "edgelet-utils",
    "identity-client",
    # "iotedge",
    "iotedged",
    "management",
    "mini-sntp",
    "systemd",
]

exclude = [ "aziot" ]