[workspace]
members = [
    "aziot-edged",
    "docker-rs",
    "edgelet-core",
    "edgelet-docker",
    "edgelet-http",
    "edgelet-http-mgmt",
    "edgelet-http-workload",
    "edgelet-settings",
    "edgelet-utils",
    "iotedge",
    "support-bundle",
]

[profile.dev]
panic = 'abort'

[profile.release]
panic = 'abort'
