image: __REGISTRY__/azureiotedge/edge-hub:__VERSION__
manifests:
  -
    image: __REGISTRY__/azureiotedge/edge-hub-linux-amd64:__VERSION__
    platform:
      architecture: amd64
      os: linux
  -
    image: __REGISTRY__/azureiotedge/edge-hub-linux-arm32v7:__VERSION__
    platform:
      architecture: arm
      os: linux
  -
    image: __REGISTRY__/azureiotedge/edge-hub-windows-amd64:__VERSION__
    platform:
      architecture: amd64
      os: windows
