[package]
name = "edgelet-core"
version = "0.1.0"
authors = ["Azure IoT Edge Devs"]
publish = false
edition = "2018"

[dependencies]
async-trait = "0.1"
base64 = "0.13"
bytes = "1"
chrono = { version = "0.4", features = ["serde"] }
consistenttime = "0.2"
failure = "0.1"
futures = "0.3"
hmac = "0.11"
humantime = "2"
lazy_static = "1.4"
log = "0.4"
parse_duration = "2.1"
regex = "1.5"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
sha2 = "0.9"
tokio = { version = "1", features = ["macros", "rt-multi-thread", "signal", "sync", "time"] }
tokio-util = { version = "0.6", features = ["codec"] }
url = { version = "2", features = ["serde"] }

edgelet-settings = { path = "../edgelet-settings" }

[dev-dependencies]
test-case = "1.1"
