[package]
name = "mqtt-broker"
version = "0.1.0"
authors = ["Azure IoT Edge Devs"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1"
bincode = "1.2"
bytes = "0.5.4"
chrono = "0.4"
derive_more = { version = "0.99", features = ["display"] }
fail = "0.3"
failure = "0.1"
flate2 = "1.0"
futures = "0.3"
futures-util = { version = "0.3", features = ["sink"] }
lazy_static = "1"
native-tls = "0.2"
serde = { version = "1.0", features = ["derive", "rc"] }
tokio = { version = "0.2", features = ["blocking", "stream", "sync", "tcp"] }
tokio-io-timeout = "0.4"
tokio-util = { version = "0.2", features = ["codec"] }
tokio-tls = "0.3"
tracing = "0.1"
tracing-futures = "0.2"
uuid = { version = "0.8", features = ["v4"] }

mqtt3 = { path = "../mqtt3", features = ["serde1"] }

[dev-dependencies]
atty = "0.2"
bytes = "0.5"
fail = { version = "0.3", features = ["failpoints"] }
matches = "0.1"
proptest = "0.9"
tempfile = "3"
tokio = { version = "0.2", features = ["dns", "macros"] }
tracing-subscriber = "0.1"

[[test]]
name = "persist_failpoints"
required-features = ["fail/failpoints"]

