[package]
name = "mqtt-broker"
version = "0.1.0"
authors = ["Azure IoT Edge Devs"]
edition = "2018"

[dependencies]
async-trait = "0.1"
bincode = "1.2"
bytes = "0.5"
chrono = "0.4"
criterion = { version = "0.3", optional = true }
fail = "0.3"
flate2 = "1.0"
futures-util = { version = "0.3", features = ["sink"] }
humantime = "2.0"
humantime-serde = "1.0"
lazy_static = "1.4"
openssl = "0.10"
pin-project = "0.4"
proptest = { version = "0.9", optional = true }
rand = { version = "0.7", optional = true }
regex = "1"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
thiserror = "1.0"
tokio = { version = "0.2", features = ["blocking", "stream", "sync", "tcp", "dns"] }
tokio-io-timeout = "0.4"
tokio-openssl = "0.4"
tokio-util = { version = "0.2", features = ["codec"] }
tracing = "0.1"
tracing-futures = "0.2"
uuid = { version = "0.8", features = ["v4"] }

mqtt3 = { path = "../mqtt3", features = ["serde1"] }

[dev-dependencies]
atty = "0.2"
bytes = "0.5"
fail = { version = "0.3", features = ["failpoints"] }
itertools = "0.9"
matches = "0.1"
proptest = "0.9"
tempfile = "3"
test-case = "1.0"
tokio = { version = "0.2", features = ["dns", "macros", "io-util"] }
tracing-subscriber = "0.1"

mqtt-broker-tests-util = { path = "../mqtt-broker-tests-util" }

[[test]]
name = "persist_failpoints"
required-features = ["fail/failpoints"]

[[test]]
name = "broker_model"
path = "tests/broker_model.rs"
required-features = ["proptest"]

[[bench]]
name = "persist_broker_state"
harness = false
required-features = ["criterion", "tokio/rt-threaded"]

[[bench]]
name = "dispatch_messages"
harness = false
required-features = ["rand", "criterion", "__internal_broker_callbacks", "tokio/rt-threaded"]

[features]
benches = ["rand", "criterion", "__internal_broker_callbacks", "tokio/rt-threaded"]

# Internal (PRIVATE!) features used to aid testing.
# Don't rely on these whatsoever. They may disappear at anytime.

# When enabled, adds additional broker callback to measure processing time
__internal_broker_callbacks = []
