hostname = "my-device"
homedir = "/var/lib/aziot/edged"

[agent]
name = "edgeAgent"
type = "docker"
imagePullPolicy = "on-create"

[agent.config]
image = "mcr.microsoft.com/azureiotedge-agent:1.0"

[agent.config.createOptions]

[agent.config.auth]

[agent.env]

[connect]
workload_uri = "unix:///var/run/iotedge/workload.sock"
management_uri = "unix:///var/run/iotedge/mgmt.sock"

[listen]
workload_uri = "fd://aziot-edged.workload.socket"
management_uri = "fd://aziot-edged.mgmt.socket"
min_tls_version = "tls1.0"

[watchdog]
max_retries = "infinite"

[moby_runtime]
uri = "unix:///var/run/docker.sock"
network = "azure-iot-edge"
[moby_runtime.content_trust.ca_certs]
"contoso1.azurecr.io" = "content-trust-contoso1.azurecr.io"
"contoso2.azurecr.io" = "content-trust-contoso2.azurecr.io"
