[package]
name = "mqttd"
description = "mqttd is an MQTT broker for IoT Edge platform"
version = "0.1.0"
authors = ["Azure IoT Edge Devs"]
edition = "2018"

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
cfg-if = "1.0"
chrono = "0.4"
clap = "2.33"
futures-util = { version = "0.3", features = ["sink"] }
thiserror = "1.0"
tokio = { version = "0.2", features = ["dns", "macros", "rt-threaded", "signal", "stream", "tcp", "time"] }
tracing = "0.1"
tracing-log = "0.1"
tracing-subscriber = {version = "0.2", features = ["fmt"]}

edgelet-client = { path = "../edgelet-client", optional = true }
mqtt-bridge = { path = "../mqtt-bridge", optional = true }
mqtt-broker = { path = "../mqtt-broker" }
mqtt-edgehub = { path = "../mqtt-edgehub", optional = true }
mqtt-generic = { path = "../mqtt-generic", optional = true }

[dev-dependencies]
mockito = "0.25"
serde_json = "1.0"

[features]
default = ["edgehub"]
edgehub = ["mqtt-bridge", "mqtt-edgehub", "edgelet-client"]
generic = ["mqtt-generic"]
