[package]
name = "edgelet-docker"
version = "0.1.0"
authors = ["Azure IoT Edge Devs"]
publish = false
edition = "2018"

[dependencies]
base64 = "0.9"
chrono = { version = "0.4", features = ["serde"] }
failure = "0.1"
futures = "0.1"
hyper = "0.12"
lazy_static = "1.0"
log = "0.4"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
sysinfo = "0.14.10"
tokio = "0.1.11"
tokio-process = "0.2"
url = { version = "2", features = ["serde"] }
url_serde = "0.2"

aziot-cert-common-http = { git = "https://github.com/Azure/iot-identity-service", branch = "release/1.2" }
cert-client = { path = "../cert-client" }
config-common = { git = "https://github.com/Azure/iot-identity-service", branch = "release/1.2" }
docker = { path = "../docker-rs" }
edgelet-core = { path = "../edgelet-core" }
edgelet-http = { path = "../edgelet-http" }
edgelet-utils = { path = "../edgelet-utils" }

[target.'cfg(not(windows))'.dependencies]
libc = "0.2.66"

[dev_dependencies]
maplit = "1.0"
time = "0.1"
tempdir = "0.3.7"
tempfile = "3"
typed-headers = "0.1"

edgelet-test-utils = { path = "../edgelet-test-utils" }
