hostname = "my-device"

[provisioning]
always_reprovision_on_startup = true
source = "manual"
iothub_hostname = "example.azure-devices.net"
device_id = "my-device"

[provisioning.authentication]
method = "sas"

[provisioning.authentication.device_id_pk]
value = "YXppb3QtaWRlbnRpdHktc2VydmljZXxhemlvdC1pZGU="

[aziot_keys]

[preloaded_keys]

[cert_issuance]

[preloaded_certs]

[agent]
name = "edgeAgent"
type = "docker"
imagePullPolicy = "on-create"

[agent.config]
image = "mcr.microsoft.com/azureiotedge-agent:1.0"

[agent.config.createOptions]

[agent.config.auth]

[agent.env]

[connect]
workload_uri = "unix:///my/own/iotedge.workload.sock"
management_uri = "unix:///my/own/iotedge.mgmt.sock"

[listen]
workload_uri = "unix:///my/own/iotedge.workload.sock"
management_uri = "unix:///my/own/iotedge.mgmt.sock"
min_tls_version = "tls1.0"

[watchdog]
max_retries = "infinite"

[edge_ca]
auto_generated_edge_ca_expiry_days = 90

[moby_runtime]
uri = "unix:///var/run/docker.sock"
network = "azure-iot-edge"
