[package]
name = "mqtt-edgehub"
version = "0.1.0"
authors = ["Azure IoT Edge Devs"]
edition = "2018"

[dependencies]
async-trait = "0.1"
base64 = "0.12.0"
lazy_static = "1.4"
regex = "1"
reqwest = { version = "0.10", features = ["json"] }
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
serde_repr = "0.1"
thiserror = "1.0"
tracing = "0.1"

mqtt3 = { path = "../mqtt3", features = ["serde1"] }
mqtt-broker-core = { path = "../mqtt-broker-core" }
hyperlocal = "0.7"
hyper = "0.13"
http = "0.2"
tower-service = "0.3"
futures-util = "0.3"
tokio = "0.2"
bytes = "0.5"
url = "2.1"
chrono = "0.4"

[dev-dependencies]
matches = "0.1"
mockito = "0.25"
test-case = "1.0"
tokio = { version = "0.2", features = ["macros"] }
