[package]
name = "mqtt-edgehub"
version = "0.1.0"
authors = ["Azure IoT Edge Devs"]
edition = "2018"

[dependencies]
async-trait = "0.1"
base64 = "0.12.0"
bytes = "0.5"
chrono = "0.4"
http = "0.2"
hyper = "0.13"
futures-util = "0.3"
lazy_static = "1.4"
openssl = "0.10"
regex = "1"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
serde_repr = "0.1"
thiserror = "1.0"
tokio = "0.2"
tower-service = "0.3"
tracing = "0.1"
url = "2.1"

mqtt3 = { path = "../mqtt3", features = ["serde1"] }
mqtt-broker-core = { path = "../mqtt-broker-core" }

[target.'cfg(unix)'.dependencies]
hyperlocal = "0.7"

[dev-dependencies]
matches = "0.1"
mockito = "0.25"
test-case = "1.0"
tokio = { version = "0.2", features = ["macros"] }
