[package]
name = "edgelet-http-workload"
version = "0.1.0"
authors = ["Azure IoT Edge Devs"]
publish = false
edition = "2018"

[dependencies]
base64 = "0.9"
chrono = { version = "0.4", features = ["serde"] }
failure = "0.1.2"
futures = "0.1"
hyper = "0.12"
log = "0.4"
serde = "1.0"
serde_json = "1.0"

edgelet-core = { path = "../edgelet-core" }
edgelet-http = { path = "../edgelet-http" }
edgelet-http-mgmt = { path = "../edgelet-http-mgmt" }
edgelet-utils = { path = "../edgelet-utils" }
workload = { path = "../workload" }

[dev-dependencies]
edgelet-test-utils = { path = "../edgelet-test-utils" }

[target.'cfg(not(windows))'.dev-dependencies]
edgelet-hsm = { path = "../edgelet-hsm" }
native-tls = "0.2"
openssl = "0.10"
tempfile = "3"
tokio = "0.1"
tokio-tls = "0.2"
workload = { path = "../workload" }