parameters:
  changeDeployConfigOnly: ''
  deploymentFile: ''
  deviceId: ''
  level: ''
  name: ''

steps:
  - task: AzureCLI@2
    displayName: 'Deployment iotedge on agent'
    name: "deployIoTEdge${{ parameters.name }}"
    env:
      AZURE_DEVOPS_EXT_PAT: $(System.AccessToken)
    inputs:
      azureSubscription: 'IoTEdge1-msazure'
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: |
        . $(Build.StagingDirectory)/$(az.pipeline.images.artifacts)/artifactInfo.txt

        chmod +x $(Build.Repository.LocalPath)/scripts/linux/nested-edge-deploy-agent.sh
        sudo $(Build.Repository.LocalPath)/scripts/linux/nested-edge-deploy-agent.sh \
          -testDir "$(Agent.HomeDirectory)/.." \
          -releaseLabel "ct$(agent.group)" \
          -artifactImageBuildNumber "$BuildNumber" \
          -containerRegistry "$(cr.address)" \
          -containerRegistryUsername "$(edgebuilds-azurecr-io-username)" \
          -containerRegistryPassword "$(edgebuilds-azurecr-io-pwd)" \
          -iotHubConnectionString "$(IotHub-ConnStr)" \
          -deploymentFileName "${{ parameters.deploymentFile }}" \
          -storageAccountConnectionString "$(EdgeConnectivityStorageAccountConnString)" \
          -edgeRuntimeBuildNumber "$(Build.BuildNumber)" \
          -customEdgeAgentImage "$(customEdgeAgent.image)" \
          -customEdgeHubImage "$(customEdgeHub.image)" \
          -subscription "$(azure.subscription)" \
          -level "${{ parameters.level }}" \
          -parentName "$(parentName)" \
          -connectionString "$(connectionString)" \
          -proxyAddress "$(proxyAddress)" \
          -changeDeployConfigOnly "${{ parameters.changeDeployConfigOnly }}" \
          -waitForTestComplete \
          -cleanAll 
          # -iotHubName "$(iotHubName)" \
          # -deviceId "${{ parameters.deviceId }}" \

          # 5/22/2024 - Temporary work around the issue where the az cli command cannot authorize itself within *.sh script using the service principal's service connection
          deployment_working_file="$(Agent.HomeDirectory)/../working/deployment.json"
          az iot edge set-modules --device-id "${{ parameters.deviceId }}" --hub-name "$(iotHubName)" --content ${deployment_working_file} --output none
