image: __REGISTRY__/azureiotedge/simulated-temperature-sensor:__VERSION__
manifests:
  -
    image: __REGISTRY__/azureiotedge/simulated-temperature-sensor-linux-amd64:__VERSION__
    platform:
      architecture: amd64
      os: linux
  -
    image: __REGISTRY__/azureiotedge/simulated-temperature-sensor-linux-arm32v7:__VERSION__
    platform:
      architecture: arm
      os: linux
  -
    image: __REGISTRY__/azureiotedge/simulated-temperature-sensor-windows-amd64:__VERSION__
    platform:
      architecture: amd64
      os: windows
