[Unit]
Description=Azure IoT Edge daemon management socket
Documentation=man:aziot-edged(8)
PartOf=aziot-edged.service

[Socket]
ListenStream=/var/run/iotedge/mgmt.sock
SocketMode=0660
DirectoryMode=0755
SocketUser=iotedge
SocketGroup=iotedge
Service=aziot-edged.service

[Install]
WantedBy=sockets.target
