[Unit]
Description=Azure IoT key service socket
Documentation=man:iotedged(8)
PartOf=iotedge.service

[Socket]
ListenStream=/var/run/keyservice/keyservice.sock
SocketMode=0666
DirectoryMode=0755
SocketUser=keyservce
SocketGroup=keyservice
Service=iotedge.service

[Install]
WantedBy=sockets.target
