[Unit]
Description=Azure IoT Edge Secret Store command socket
PartOf=azsecret.service

[Socket]
ListenStream=/var/run/azsecret.sock
SocketMode=0666
SocketUser=azsecret
SocketGroup=iotedge
Service=azsecret.service

[Install]
WantedBy=sockets.target