[package]
name = "edgelet-settings"
version = "0.1.0"
authors = ["Azure IoT Edge Devs"]
publish = false
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
url = { version = "2", features = ["serde"] }

cert-renewal = { git = "https://github.com/Azure/iot-identity-service", branch = "main" }
config-common = { git = "https://github.com/Azure/iot-identity-service", branch = "main", optional = true }
docker = { path = "../docker-rs", optional = true }

[dev-dependencies]
lazy_static = "1"
serde_json = "1"
test-case = "1"

[features]
settings-docker = ["config-common", "docker"]
