[package]
name = "edgelet-settings"
version = "0.1.0"
authors = ["Azure IoT Edge Devs"]
publish = false
edition = "2018"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
url = { version = "2", features = ["serde"] }

config-common = { git = "https://github.com/nlcamp/iot-identity-service", branch = "edge-tracer-hackathon2021-master", optional = true }
docker = { path = "../docker-rs", optional = true }

[dev-dependencies]
lazy_static = "1"
serde_json = "1"
test-case = "1"

[features]
settings-docker = ["config-common", "docker"]
